html, body {
  margin: 0;
  padding: 0;
}

.player {
  border: 2px solid blue;
  position: absolute;
  background: #fff;
}

.player.right, .player.d {
  border-right-color: red;
}

.player.up, .player.w {
  border-top-color: red;
}

.player.left, .player.a {
  border-left-color: red;
}

.player.down, .player.s {
  border-bottom-color: red;
}

#map {
  border-collapse: collapse;
}

#map tr td {
  outline: 1px solid #ddffdd;
}
#map tr td.grass {
  background-color: #CCFFCC;
}
#map tr td.stone {
  background-color: #999999;
}
