.player {
  width: 16px;
  height: 16px;
  border: 2px solid blue;

  position: absolute;
  background: #fff;
}

.player.right {
  border-right-color: red;
}

.player.up {
  border-top-color: red;
}

.player.left {
  border-left-color: red;
}

.player.down {
  border-bottom-color: red;
}
