html, body {
  margin: 0;
  padding: 0;
}

.player {
  width: 12px;
  height: 12px;
  border: 2px solid blue;

  position: absolute;
  background: #fff;
}

.player.right {
  border-right-color: red;
}

.player.up {
  border-top-color: red;
}

.player.left {
  border-left-color: red;
}

.player.down {
  border-bottom-color: red;
}

#map {
  border-collapse: collapse;
}

#map tr td {
  outline: 1px solid #ddffdd;
}
#map tr td.grass {
  background-color: #CCFFCC;
}
#map tr td.stone {
  background-color: #999999;
}
